DATABASE_URL="file:./dev.db"
AUTH_SECRET="replace-with-a-long-random-secret"
ADMIN_EMAIL="admin@dellascloset.local"
ADMIN_PASSWORD="change-this-password"
OPAY_ACCOUNT_NUMBER="8120169622"
OPAY_ACCOUNT_NAME="Oyindamola Awofemi"
MONIEPOINT_ACCOUNT_NUMBER=""
MONIEPOINT_ACCOUNT_NAME=""
